body {
  font-family: Arial;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('../images/bmw.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  margin-top: 80px;
}

/* CTA SECTION */
.cta {
  background: #003366;
}

/* CARDS */
.card {
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* NAVBAR SPACING FIX */
body {
  padding-top: 70px;
}
