body {
  font-family: Arial;
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('https://i.pinimg.com/736x/9c/42/db/9c42db16d908e803ff4342842aa069d4.jpg');
  background-size: cover;
}

h1, h2 {
  color: #003366;
}

nav a {
  margin: 10px;
}
